.page {
  min-width: 70% !important;
}

.board {
  width: 100%;
  padding: 6rem 6rem;
  margin-bottom: 2.5rem;
  border: 0.625rem solid #df5b2c;
  background: url(../../imgs/board-layout.png) no-repeat center center;
  background-size: cover;
  background-color: white;
  border-radius: 2rem;
  aspect-ratio: 5 / 4;
  max-width: 90%;
}

.board .section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0;
  font-size: 2rem;
}

.board .section .question-header {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 2rem;
}

.board .section .question-header img {
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
}

.board .section .question-header span {
  color: #ec008d;
}

.board .question .word {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0.3rem;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.board .question {
  width: 100%;
}

.letter img {
  max-width: 12rem;
  min-width: 6rem;
}

.selected-letter {
  box-shadow: #e089b0 -4px 9px 25px -6px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Handle screens */
@media (min-width: 1700px) {
  .board .associate .word {
    font-size: 2.5rem;
    padding: 2rem;
  }
  .board .section .img-item {
    height: 130px;
  }
}

@media (max-width: 1700px) {
  .board .section {
    gap: 1rem;
  }
  .board .section .question-header {
    font-size: 1.5rem;
  }
  .board .section .question-header img {
    width: 3rem;
    height: 3rem;
  }
  .board .question .word {
    font-size: 1.5rem;
    padding: 0.5rem 0.3rem;
    margin: 0.5rem;
  }
}

@media (max-width: 990px) {
  .letters-box .letters {
    gap: 2rem;
  }

  .letters-box .letter {
    gap: 0.5rem;
    padding: 0.5rem 0;
    font-size: 2rem;
  }
}
