.section {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 0 !important;
}

.letters-container {
  padding: 4rem 6rem;
  margin-bottom: 1.5rem;
  border: 0.625rem solid #df5b2c;
  background-color: white;
  border-radius: 2rem;
}

.letters-box {
  border: 1px solid #f172ac;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #f0e6ef;
}

.letter {
  display: inline-block;
  margin: 5px;
  size: 95px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.letter:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.observe {
  font-size: 2rem;
  background: url("../../../imgs/observe-bg.png") no-repeat center center;
  width: fit-content;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 0px #ffffff;
}

.script-title,
.cursive-title {
  background: url("../../../imgs/yellow-brush.png");
  background-size: cover;
  width: fit-content;
  padding: 0 2rem;
  background-repeat: no-repeat;
  font-size: 3rem;
}

.script-letter {
  font-size: 52px;
  font-weight: 100;
}
